In [5]:
from random import randint
from string import ascii_uppercase
from pandas import Series
import pandas as pd

In [9]:
df = pd.read_excel('../doc/megana.xlsx')

In [10]:
df

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN
2,3,25/03/1996,10,11,29,30,36,47,2,RN; SP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN
3,4,01/04/1996,1,5,6,27,42,59,0,NaN,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN
4,5,08/04/1996,1,2,6,16,19,46,0,NaN,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2782,2785,11/10/2024,20,27,48,50,57,59,0,NaN,"R$0,00",39,"R$86.257,83",3176,"R$1.513,15","R$26.693.577,35","R$58.347.520,00","R$35.000.000,00","R$106.689.379,22",NaN
2783,2786,16/10/2024,6,11,17,20,40,51,0,NaN,"R$0,00",71,"R$54.038,72",5135,"R$1.067,39","R$33.761.273,32","R$66.546.110,00","R$42.000.000,00","R$107.699.050,10",NaN
2784,2787,19/10/2024,8,10,23,34,36,50,0,NaN,"R$0,00",90,"R$48.723,85",6537,"R$958,31","R$41.839.173,61","R$76.057.720,00","R$51.000.000,00","R$108.853.035,88",NaN
2785,2788,22/10/2024,23,37,39,47,52,56,0,NaN,"R$0,00",63,"R$55.255,44",4431,"R$1.122,31","R$48.251.712,69","R$60.377.460,00","R$55.000.000,00","R$109.769.112,90",NaN
2786,2789,24/10/2024,3,17,18,19,20,55,0,NaN,"R$0,00",137,"R$25.356,30",6634,"R$748,05","R$76.119.201,02","R$60.251.195,00","R$85.000.000,00","R$110.683.274,17",NaN

In [12]:
df.meam()

AttributeError: 'DataFrame' object has no attribute 'meam'